@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    /* Colors */
    --primary: hsl(243, 87%, 12%);
    --primary-2: hsl(238, 22%, 44%);
    --accent: hsl(224, 93%, 58%);
    --accent-2: hsl(170, 45%, 43%);
    --neutral: hsl(240, 80%, 98%);
    --neutral-2: hsl(0, 0%, 75%);
    --accent-hover: hsl(224, 92%, 64%);
    --accent-2-hover: hsl(170, 56%, 57%);

    /* Fonts */
    --headings: "Raleway", sans-serif;
    --body: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    font-family: var(--body);
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.content {
    max-width: 1440px;
    margin: auto;
}

.button {
    background-color: var(--accent);
    width: 200px;
    padding: 1rem 0;
    border: none;
    color: white;
    border-radius: .2rem;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background-color: var(--accent-hover);
}

.illustration {
    width: 50%;
}

.illustration img {
    width: 100%;
}


/* Header */
header {
    width: 100%;
    padding: 3rem 0;
}

header .wrap {
    display: flex;
    flex-direction: row;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-left: 3rem;
}

header li a {
    color: black;
    text-decoration: none;
}

header .logo img {
    height: 35px;
}


/* Hero */
#hero {
    padding: 3rem 0;
    margin-bottom: 6rem;
}

#hero .wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
}

#hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#hero h1 {
    font-size: 2.75rem;
    font-family: var(--headings);
    line-height: calc(3rem * 1.4);
    margin-bottom: 1rem;
}

#hero p {
    line-height: calc(1rem * 1.4);
    margin-bottom: 1.5rem;
}

#hero form input {
    padding: 1rem;
    width: 300px;
    border-radius: .2rem;
    border: 1px solid grey;
    margin-right: .5rem;
    margin-bottom: .5rem;
}


/* Testimonail */
#testimonial {
    background-color: var(--neutral);
    padding: 2rem 0 5rem 0;
}

#testimonial .wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
}

img.curve {
    width: 100%;
    height: auto;
    transform: translateY(5px);
}

#testimonial h2 {
    font-family: var(--headings);
    font-size: 2.5rem;
    line-height: calc(3rem * 1.4);
    margin-bottom: 1rem;
}

#testimonial p {
    line-height: calc(1rem * 1.4);
    margin-bottom: 1rem;
}

#testimonial a {
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: var(--accent-2);
    text-decoration: none;
    border-bottom: 1px solid var(--accent-2);
    padding-bottom: 5px;
    width: max-content;
}

#testimonial a:hover {
    color: var(--accent-2-hover);
}

#testimonial .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#testimonial .testimonial-card {
    margin-top: 3rem;
    background-color: white;
    width: 400px;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 15px #0000001a;
    text-align: left;
}

#testimonial .testimonial-card .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

#testimonial .testimonial-card .name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
}

#testimonial .testimonial-card .name p {
    margin: 0;
    font-size: .75rem;
}


/* CTA */
#cta {
    background-color: var(--primary-2);
    color: white;
    padding: 6rem 0;
}

#cta .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

#cta .text {
    width: 50%;
}

#cta h2 {
    font-family: var(--headings);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#cta form {
    flex: 1;
}

#cta form input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 5px #0000001e;

}

#cta form button {
    box-shadow: 0 5px 5px #0000001e;
}


/* Footer */
footer {
    padding: 5rem 0;
    background-color: var(--primary);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent);
}

footer .logo img {
    height: 40px;
    margin-bottom: 2rem;
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

footer .contact a {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .links {
    margin-bottom: 3rem;
}

footer .links ul {
    list-style: none;
}

footer .links ul li {
    margin-bottom: 1rem;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .social img {
    width: 32px;
}


/* Media queries */
@media screen and (max-width: 1600px) {
    .content {
        max-width: 90%;
    }
}

@media screen and (max-width: 780px) {
    .illustration {
        width: 100%;
    }

    #hero .wrap {
        flex-direction: column;
        text-align: center;
    }

    #testimonial .wrap {
        flex-direction: column;
        text-align: center;
    }

    #testimonial .text {
        align-items: center;

    }

    #cta .wrap {
        flex-direction: column;
        text-align: center;
    }

    #cta .text {
        width: 100%;
    }

    #cta form {
        width: 300px;
    }

    footer .row {
        flex-direction: column;
    }

    .button {
        width: 300px;
    }

    header .logo img {
        height: 30px;
    }
}

@media screen and (max-width: 580px) {
    header ul li {
        margin-left: 1.5rem;
    }

    #hero h1 {
        font-size: 2rem;
        line-height: calc(2rem * 1.4);
    }

    #hero form input {
        margin-right: 0;
    }

    #testimonial h2 {
        font-size: 1.5rem;
        line-height: calc(2rem * 1.4);
    }

    #testimonial .testimonial-card {
        width: 90%;
    }

    #cta h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .button {
        width: 100%;
    }

    #cta form {
        width: 100%;
    }

    #hero form input {
        width: 100%;
    }
}
